<p id="notice"><%= notice %></p>





<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  	<h1>Hola!</h1>
  	<p><strong>Has recorrido 7 kms hoy! La vida empieza después del trabajo. Qué te parecen estas opciones para desestresarte?</strong></p>

  </div>
  <div class="col-md-4"></div>
</div>




